@mixin flexible(){
    display: flex;
    justify-content: center;
    align-items: center; 
}

@mixin transition-fast(){
    transition: all 0.5s ease-out; 
}

@mixin transition-slow(){
    transition: all 0.8s ease-out; 
}
