@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.new-arrivals {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-arrivals__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.new-arrivals .breadcrumps {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.new-arrivals .breadcrumps__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.new-arrivals .breadcrumps__link::after {
  padding-left: 8px;
  content: "/";
}
.new-arrivals .breadcrumps__link_active {
  font-weight: 700;
  color: #F16D7F;
}
.new-arrivals .breadcrumps__link_active::after {
  padding-left: 8px;
  content: " ";
}
.new-arrivals__link_active {
  font-weight: 700;
  color: #F16D7F;
}
.new-arrivals__link_active::after {
  padding-left: 8px;
  content: " ";
}

.slider {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  height: 777px;
  position: relative;
  border: 1px solid #EAEAEA;
}
.slider__arrow-left {
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.0823529412);
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-out;
}
.slider__arrow-left path {
  transition: all 0.8s ease-out;
}
.slider__arrow-left:hover path {
  fill: #F16D7F;
}
.slider__image {
  max-height: 100%;
  max-width: 100%;
}
.slider__arrow-right {
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.0823529412);
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease-out;
}
.slider__arrow-right path {
  transition: all 0.8s ease-out;
}
.slider__arrow-right:hover path {
  fill: #F16D7F;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-top: 0px;
  gap: 12px;
  max-width: 1140px;
  background: #FFFFFF;
  min-height: 100px;
  margin: -65px auto 0px;
  border: 1px solid #EAEAEA;
  position: relative;
  z-index: 10;
}
.product-info__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.product-info__line {
  width: 64px;
  height: 3px;
  background: #F16D7F;
  border: none;
}
.product-info__title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.product-info__text {
  padding-top: 48px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  text-align: center;
  max-width: 555px;
}
.product-info__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-bottom: 65px;
}
.product-info__hr {
  display: block;
  min-width: 56%;
  max-width: 642px;
  height: 1px;
  background: #EAEAEA;
  border: none;
}
.product-info__filter {
  padding-top: 65px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 23px;
}
.product-info__filter summary {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.product-info__filter summary.svg-position {
  background: #6F6E6E;
}
.product-info__cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  padding: 15px 56px 9px 23px;
  text-decoration: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.product-info__cart:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: #F16D7F;
  transition: all 0.8s ease-out;
}
.product-info__cart:hover path {
  fill: #FFFFFF;
}
.product-info__cart path {
  fill: #F16D7F;
}

.content-products__product-paddings {
  padding-top: 129px;
  padding-bottom: 128px;
}

/* *****************Планшет********************** */
@media (max-width: 1024px) {
  /* планшет 
  768px минимальное значение для планшета   

  минимальные отступы для ширины контента делаем по 8px с права и лева
  (768 - 16 ) / 2
   (в макете по 16px справа и слева)*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  /* header */
  .header {
    min-height: 74px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger__nav {
    top: 115px;
  }
  /*products*/
  .content-products__product-paddings {
    padding-bottom: 129px;
  }
  .content-products__item_first {
    order: 2;
  }
  .content-products__item_second {
    order: 1;
  }
  .content-products__item_third {
    display: none;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__subtitle {
    margin-bottom: 27px;
  }
  /* footer logo  */
  .footer-logo {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* *****************Мобильник********************** */
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* header */
  .hide {
    display: none;
  }
  /*new arrivals*/
  .new-arrivals {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46px;
  }
  /*product info*/
  .product-info {
    gap: 25px;
  }
  .product-info__text {
    padding-top: 32px;
  }
  .product-info__price {
    padding-bottom: 65px;
  }
  .product-info__filter {
    padding-top: 49px;
    padding-bottom: 64px;
  }
  .product-info__filter summary {
    font-size: 10px;
    line-height: 12px;
  }
  /*products*/
  .content-products__product-paddings {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .content-products__item_first {
    grid-row: 1;
  }
  .content-products__item_second {
    display: none;
  }
  .content-products__item_third {
    display: contents;
    grid-row: 2;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer-subscribe__text {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .subscribe__title {
    line-height: 37px;
  }
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  /* footer logo  */
  .footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;
  }
}
/* *****************Мобильник 320 ********************* */
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 81px;
  }
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 39px;
  position: relative;
  height: 134px;
}

.filter {
  padding: 12px 16px 16px 0px;
  width: 360px;
  z-index: 5;
  cursor: pointer;
}
.filter[open] {
  padding: 12px 16px 16px 16px;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter[open] {
  min-width: 360px;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__subsummary {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 11px;
}
.filter__subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 0px 11px 11px;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__subheading {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 11px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  width: 360px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 12px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 28px;
}
.sort summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort summary__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort summary.svg-position {
  background: #6F6E6E;
}
.sort__item {
  position: relative;
  cursor: pointer;
}
.sort__form {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: absolute;
  transform: translateX(-10px);
  min-width: 40px;
  z-index: 2;
  margin-top: 5px;
}
.sort__form-size {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.content-products__products-gallery-paddings {
  padding-top: 0px;
  padding-bottom: 48px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 96px;
  max-width: 282px;
  max-height: 44px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  padding: 12px 14px;
  gap: 16px;
}
.pages-box__button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.pages-box__button:hover path {
  fill: #F16D7F;
  transition: all 0.8s ease-out;
}
.pages-box__button:active path {
  fill: #F16D7F;
  transition: all 0.8s ease-out;
}
.pages-box__content {
  width: 202px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.pages-box__item_active {
  color: #F16D7F;
}

/* *****************Планшет********************** */
@media (max-width: 1024px) {
  /* планшет 
  768px минимальное значение для планшета   

  минимальные отступы для ширины контента делаем по 8px с права и лева
  (768 - 16 ) / 2
   (в макете по 16px справа и слева)*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  /* header */
  .header {
    min-height: 74px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger__nav {
    top: 115px;
  }
  /*sort*/
  .sort {
    padding-left: 37px;
    box-sizing: border-box;
  }
  /*products gallery*/
  .content-products__products-gallery-paddings {
    padding-top: 0px;
    padding-bottom: 48px;
  }
  .content-products__item-three {
    display: none;
  }
  /* footer */
  /* footer advantages */
  .footer-advantages {
    grid-template-columns: 22.5rem;
    grid-template-rows: repeat(3, 8.375rem);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  /* footer subscribe  */
  .footer-subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__subtitle {
    margin-bottom: 27px;
  }
  /* footer logo  */
  .footer-logo {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* *****************Мобильник********************** */
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* header */
  .hide {
    display: none;
  }
  /*products gallery*/
  .content-products__products-gallery-paddings {
    padding-top: 0px;
    padding-bottom: 40px;
  }
  /* footer */
  /* footer advantages */
  .footer-advantages {
    gap: 47px;
    padding-bottom: 81px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .footer-advantages__img {
    margin: 0px 0px 27px 0px;
  }
  .footer-advantages__heading {
    margin: 0px 0px 15px 0px;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer-subscribe__text {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .subscribe__title {
    line-height: 37px;
  }
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  /* footer logo  */
  .footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;
  }
}
/* *****************Мобильник 320 ********************* */
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 81px;
  }
}
.shopping-cart {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.shopping-cart__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart-content {
  display: grid;
  grid-template-columns: 652px 360px;
  grid-template-rows: repeat 2, 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 128px;
  grid-row-gap: 72px;
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart-content__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-content__item {
  display: flex;
  gap: 31px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  background: #FFFFFF;
  position: relative;
}
.cart-content__img {
  height: 100%;
}

.button-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.button-box__btn {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 16px 40px 16px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.button-box__btn:hover {
  color: #FFFFFF;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  transition: all 0.8s ease-out;
}
.button-box__btn:focus {
  outline: none !important;
}

.item__description {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.item__cross-button {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 28px;
  right: 22px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.item__cross-button:hover path {
  fill: #F16D7F;
  transition: all 0.8s ease-out;
}

.item__top {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}

.item__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.item__properties {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item__property {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.item__property_colorful {
  color: #F16D7F;
}
.item__property_quantity {
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  border-radius: 0px;
  text-align: center;
  height: 24px;
  width: 44px;
  bottom: 0;
}

.shipping-content {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 92px;
  gap: 57px;
}
.shipping-content__area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shipping-content__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.shipping-content__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipping__input {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #4A4A4A;
  background: #FFFFFF;
  padding: 12px 17px 15px;
}
.shipping__input::-moz-placeholder {
  color: #B1B1B1;
}
.shipping__input::placeholder {
  color: #B1B1B1;
}
.shipping__input:focus {
  outline: none !important;
  border: 1px solid #F16D7F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  transition: all 0.8s ease-out;
}

.shipping__button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 4px;
}

.shipping__button {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding: 9px 14px 11px;
  border: 1px solid #4A4A4A;
  background: #FFFFFF;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.shipping__button:hover {
  color: #FFFFFF;
  background: #F16D7F;
  border: 1px solid #F16D7F;
  transition: all 0.8s ease-out;
}
.shipping__button:focus {
  outline: none !important;
  box-shadow: none;
  transition: all 0.8s ease-out;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 42px;
  background: #F5F3F3;
}
.checkout-content__sub {
  display: flex;
  justify-content: end;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  margin-right: 42px;
}
.checkout-content__sub-price {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.checkout-content__grand {
  display: flex;
  justify-content: end;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
  margin-right: 42px;
}
.checkout-content__grand-price {
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.checkout-content__line {
  height: 1px;
  margin-bottom: 17px;
  background: #E2E2E2;
  margin-right: 42px;
  margin-left: 42px;
}
.checkout-content__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.checkout-content__button {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 16px 38px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.checkout-content__button:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  transition: all 0.8s ease-out;
}
.checkout-content__button:focus {
  outline: none !important;
}

/* *****************Планшет********************** */
@media (max-width: 1024px) {
  /* планшет 
  768px минимальное значение для планшета   

  минимальные отступы для ширины контента делаем по 8px с права и лева
  (768 - 16 ) / 2
   (в макете по 16px справа и слева)*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  /* header */
  .header {
    min-height: 74px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger__nav {
    top: 115px;
  }
  .cart-content {
    grid-template-columns: minmax(734px, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 59px;
  }
  .button-box {
    justify-content: center;
    gap: 49px;
  }
  .shipping-content {
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    order: 3;
    padding-top: 64px;
    padding-bottom: 0px;
  }
  .shipping-content__area {
    min-width: 360px;
  }
  .shipping-content .checkout-content {
    min-width: 360px;
    margin-top: 38px;
    margin-bottom: 15px;
  }
  .cart-content {
    padding-top: 59px;
    grid-row-gap: 0px;
  }
  .cart-content__items {
    order: 1;
  }
  .button-box {
    order: 2;
    padding-top: 62px;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__subtitle {
    margin-bottom: 27px;
  }
  /* footer logo  */
  .footer-logo {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* *****************Мобильник********************** */
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer-subscribe__text {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .subscribe__title {
    line-height: 37px;
  }
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  /* footer logo  */
  .footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;
  }
}
/* *****************Мобильник 320 ********************* */
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 81px;
  }
}
.registration-top {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.registration-top__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.registration-content {
  display: grid;
  grid-template-columns: 360px 652px;
  grid-template-rows: 1fr;
  grid-column-gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration-content__left {
  display: flex;
  flex-direction: column;
  /* для элемента label связанного с .custom-radio */
  /* создание в label псевдоэлемента  before со следующими стилями */
  /* стили при наведении курсора на радио */
  /* стили для активной радиокнопки (при нажатии на неё) */
  /* стили для радиокнопки, находящейся в фокусе */
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии checked */
  /* стили для радиокнопки, находящейся в состоянии disabled */
}
.registration-content__left .heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.registration-content__left .form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.registration-content__left .input {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #4A4A4A;
  background: #FFFFFF;
  padding: 13px 17px 16px;
  box-sizing: border-box;
}
.registration-content__left .input::-moz-placeholder {
  color: #B1B1B1;
}
.registration-content__left .input::placeholder {
  color: #B1B1B1;
}
.registration-content__left .input:focus {
  outline: none !important;
  border: 1px solid #F16D7F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  transition: all 0.8s ease-out;
}
.registration-content__left .radio-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 33px;
  margin-bottom: 33px;
}
.registration-content__left .custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.registration-content__left .custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.registration-content__left .custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  margin-right: 0.6rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: all 0.5s ease-out;
}
.registration-content__left .custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F16D7F;
}
.registration-content__left .custom-radio:not(:disabled):active + label::before {
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.registration-content__left .custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.13);
}
.registration-content__left .custom-radio:focus:not(:checked) + label::before {
  border-color: #F16D7F;
  transition: all 0.8s ease-out;
}
.registration-content__left .custom-radio:checked + label::before {
  border-color: #A4A4A4;
  background-color: #E5E5E5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.registration-content__left .custom-radio:disabled + label::before {
  background-color: #E5E5E5;
}
.registration-content__left .label-text {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
.registration-content__left .text {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}
.registration-content__button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.registration-content__button {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 16px 24px 17px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.registration-content__button:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  transition: all 0.8s ease-out;
}
.registration-content__button:hover path {
  fill: #F16D7F;
}
.registration-content__button:focus {
  outline: none !important;
}
.registration-content__button .btn-arrow {
  margin-left: 20px;
}
.registration-content__right {
  display: flex;
  flex-direction: column;
}
.registration-content__right .heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 22px;
}
.registration-content__right .text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}
.registration-content__right .list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  /* Отступ слева в браузере IE и Opera */
  margin-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  padding-left: 27px;
}
.registration-content__right .list__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  /* Убираем маркеры */
  list-style-image: url(img/check-mark.svg);
  padding-left: 22px;
}

/* *****************Планшет********************** */
@media (max-width: 1024px) {
  /* планшет 
  768px минимальное значение для планшета   

  минимальные отступы для ширины контента делаем по 8px с права и лева
  (768 - 16 ) / 2
   (в макете по 16px справа и слева)*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  /* header */
  .header {
    min-height: 74px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger__nav {
    top: 115px;
  }
  .registration-content {
    grid-template-columns: 360px 354px;
    grid-column-gap: 22px;
    padding-top: 40px;
  }
  .registration-content__left .input {
    padding: 12px 15px 16px;
  }
  .registration-content__left .radio-content {
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .registration-content__right .heading {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
  }
  .registration-content__right .text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
  }
  .registration-content__right .list {
    gap: 24px;
  }
  .registration-content__right .list__item {
    font-size: 16px;
    line-height: 19px;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__subtitle {
    margin-bottom: 27px;
  }
  /* footer logo  */
  .footer-logo {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* *****************Мобильник********************** */
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer */
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer-subscribe__text {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .subscribe__title {
    line-height: 37px;
  }
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  /* footer logo  */
  .footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;
  }
}
/* *****************Мобильник 320 ********************* */
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 81px;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  max-width: 1140px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.page {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  position: relative;
  max-height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header .basket {
  position: relative;
}
.header .basket span {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background-color: #F16D7F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -8px;
  right: -10px;
  color: #FFFFFF;
  width: 19px;
  height: 19px;
}

#burger {
  position: absolute;
  right: -999999px;
  visibility: hidden;
}
#burger:checked ~ .burger__nav {
  right: -232px;
  box-shadow: none;
}

.burger__content {
  overflow: hidden;
}

.burger__nav {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  min-width: 232px;
  top: 81px;
  right: 0px;
  z-index: 12;
  transition: all 0.5s ease-out;
}

.burger__top {
  display: flex;
  padding-top: 16px;
  padding-left: 34px;
  position: relative;
}

.burger__button {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 16px;
  right: 17px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.burger__button:hover path {
  fill: #F16D7F;
  transition: all 0.8s ease-out;
}
.burger__button:active .burger__nav {
  display: none;
}

.burger__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 34px;
  position: relative;
}

.burger__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.burger__subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.burger__item[open] .burger__subheading {
  color: #F16D7F;
}

.burger__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 20px;
  padding-top: 12px;
}

.burger__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #6F6E6E;
}
.burger__link:hover {
  color: #F16D7F;
}

.top-content {
  background: #F1E4E6;
  display: flex;
  align-items: center;
}
.top-content__image {
  width: 50%;
  display: flex;
}
.top-content__content {
  padding-left: 64px;
}
.top-content__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}
.top-content__info:hover {
  animation: tracking-in-expand 0.8s cubic-bezier(1, 1, 0, -0.02) backwards;
}
.top-content__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.top-content__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.top-content span {
  color: #F16D7F;
}

.content-offer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin: 65px 0px 0px 0px;
}
.content-offer__item {
  position: relative;
  transition: all 0.5s ease-out;
}
.content-offer__item:hover {
  transform: scale(1.4);
  z-index: 2;
  border: 0.1px ridge #F16D7F;
  filter: drop-shadow(2px 2px 8px rgba(67, 35, 20, 0.6));
  padding: 0px;
  transition: all 0.8s ease-out;
}
.content-offer__img {
  display: flex;
}
.content-offer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-offer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.content-offer__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}
.content-offer__item_big {
  min-height: 180px;
  grid-column: 1/4;
}
.content-offer__item_big:hover {
  transform: scale(1.13);
}

.content-products {
  display: grid;
  justify-content: center;
}
.content-products__index-paddings {
  padding-top: 96px;
  padding-bottom: 95px;
}
.content-products__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
  margin: 0px 0px 6px 0px;
}
.content-products__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
  margin: 0px 0px 48px 0px;
}
.content-products__items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  /* grid-template-rows: repeat(2, 581px); */
  justify-content: center;
  gap: 30px;
}
.content-products__item {
  position: relative;
  background: #F8F8F8;
}
.content-products__item:hover .content-products__image {
  filter: brightness(0.5);
  transition: all 0.8s ease-out;
}
.content-products__item:hover .content-products__add {
  display: flex;
}
.content-products__image {
  width: 100%;
  transition: all 0.5s ease-out;
}
.content-products__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
  transition: all 0.5s ease-out;
}
.content-products__add:hover {
  box-shadow: 0 0 5px #fff;
  transition: all 0.8s ease-out;
}
.content-products__add:hover svg path {
  fill: #F16D7F;
  transition: all 0.8s ease-out;
}
.content-products__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 29px 20px 17px;
}
.content-products__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}
.content-products__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.content-products__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.content-products__button {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 48px;
}
.content-products__browse {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px 14px 39px;
  text-decoration: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.content-products__browse:hover {
  color: #FFFFFF;
  background: #F26376;
  transition: all 0.8s ease-out;
}

.footer-advantages {
  display: grid;
  grid-template-columns: repeat(3, 22.5rem);
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 104px;
  background: #222224;
}
.footer-advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-advantages__img {
  margin: 0px 0px 28px 0px;
}
.footer-advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 0px 0px 16px 0px;
}
.footer-advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-left: 22px;
  padding-right: 22px;
}

.footer-subscribe {
  background: url("img/background_photo_subscribe.svg");
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.footer-subscribe__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-subscribe__img {
  margin-bottom: 30px;
}
.footer-subscribe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
  padding-bottom: 30px;
}
.footer-subscribe__text::before {
  content: "“";
}
.footer-subscribe__text::after {
  content: "“";
}
.footer-subscribe__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-subscribe__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  color: #222224;
}
.footer-subscribe__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 38px;
}
.footer-subscribe__form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-subscribe__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  border: none;
  height: 49px;
  background: #E1E1E1;
  color: #222224;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  width: auto;
  flex-grow: 1;
}
.footer-subscribe__input:focus {
  outline: none;
}
.footer-subscribe__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  border: none;
  height: 49px;
  background: #F16D7F;
  color: #FFFFFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100px;
  flex-grow: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.footer-subscribe__button:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
  transition: all 0.8s ease-out;
}
.footer-subscribe__button:focus {
  outline: none !important;
}

.footer-logo {
  min-height: 79px;
  background: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer-logo__logos {
  display: flex;
  gap: 7.3px;
}
.footer-logo__link {
  width: 31.45px;
  height: 32px;
  font-size: 16px;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.footer-logo__link:hover {
  background: #F16D7F;
  color: #FFFFFF;
  transition: all 0.8s ease-out;
}
.footer-logo__link:focus {
  outline: none !important;
}

/* *****************Планшет********************** */
@media (max-width: 1024px) {
  /* планшет 
  768px минимальное значение для планшета   

  минимальные отступы для ширины контента делаем по 8px с права и лева
  (768 - 16 ) / 2
   (в макете по 16px справа и слева)*/
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  /* header */
  .header {
    min-height: 74px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .burger__nav {
    top: 115px;
  }
  /* top content */
  .top__content {
    gap: 39px;
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
    align-items: center;
  }
  .top__content__content {
    padding-left: 34px;
  }
  .top__content__title {
    font-size: 44px;
    line-height: 53px;
  }
  .top__content__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  /* offer section */
  .content-offer {
    gap: 19px;
    /* !!!!!!!!!!!!!!!!!! */
    /* !!!!!!!!!!!!!!!!!! */
  }
  .content-offer__item:nth-child(1):hover {
    /* width: 100%;
    height: 100%; */
    transform: translate(30%, -10%) scale(1.4);
  }
  .content-offer__item:nth-child(3):hover {
    /* width: 100%;
    height: 100%; */
    transform: translate(-30%, -10%) scale(1.4);
  }
  .content-offer__item_big {
    min-height: 116px;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.5s ease-out;
  }
  .content-offer__item_big:hover {
    transition: all 0.8s ease-out;
    transform: none;
  }
  /* products section */
  .content-products__index-paddings {
    padding-top: 155px;
    padding-bottom: 65px;
  }
  .content-products__title {
    margin: 0px 0px 3.3px 0px;
  }
  .content-products__text {
    margin: 0px 0px 73px 0px;
  }
  .content-products__items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
  }
  .content-products__button {
    margin-top: 33px;
  }
  /* footer */
  /* footer advantages */
  .footer-advantages {
    grid-template-columns: 22.5rem;
    grid-template-rows: repeat(3, 8.375rem);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  /* footer subscribe  */
  .footer-subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .subscribe__subtitle {
    margin-bottom: 27px;
  }
  /* footer logo  */
  .footer-logo {
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* *****************Мобильник********************** */
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* top content  */
  .top-content {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .top-content__content {
    padding: 148px 56px 149px;
  }
  .top-content__info {
    padding-left: 15px;
  }
  .top-content__title {
    font-size: 38px;
    line-height: 46px;
  }
  .top-content__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  /* offer section */
  .content-offer {
    row-gap: 32px;
    grid-template-columns: 344px;
    margin: 64px 0px 0px 0px;
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
    /* !!!!!!!!!!!!!!!!!! */
    /* !!!!!!!!!!!!!!!!!! */
    /* !!!!!!!!!!!!!!!!!! */
  }
  .content-offer__item:hover {
    transform: none;
  }
  .content-offer__item:nth-child(1):hover {
    transform: none;
  }
  .content-offer__item:nth-child(3):hover {
    transform: none;
  }
  .content-offer__item_big {
    display: flex;
    grid-column: span 1;
    transition: all 0.5s ease-out;
  }
  .content-offer__item_big img {
    min-height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* products section */
  .content-products {
    padding-left: 8px;
    padding-right: 8px;
  }
  .content-products__index-paddings {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .content-products__title {
    margin: 0px 0px 3.3px 0px;
  }
  .content-products__text {
    margin: 0px 0px 65px 0px;
  }
  .content-products__items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .content-products__button {
    margin-top: 41px;
  }
  /* footer */
  /* footer advantages */
  .footer-advantages {
    gap: 47px;
    padding-bottom: 81px;
    padding-left: 14px;
    padding-right: 14px;
  }
  .footer-advantages__img {
    margin: 0px 0px 27px 0px;
  }
  .footer-advantages__heading {
    margin: 0px 0px 15px 0px;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 110px;
    gap: 59px;
  }
  .footer-subscribe__text {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
  }
  .subscribe__title {
    line-height: 37px;
  }
  .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 22px;
  }
  /* footer logo  */
  .footer-logo {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 43px 62px 9px;
  }
}
/* *****************Мобильник 320 ********************* */
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* header */
  .hide {
    display: none;
  }
  /* top content  */
  .top__content__content {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
  }
  .top-content__title {
    font-size: 30px;
    line-height: 40px;
  }
  .top-content__subtitle {
    font-size: 15px;
    line-height: 18px;
  }
  /* offer section */
  .content-offer {
    margin: 81px 0px 0px 0px;
    grid-template-columns: minmax(auto, 304px);
    padding-left: 8px;
    padding-right: 8px;
    gap: 15px;
    /* !!!!!!!!!!!!!!!!!! */
  }
  .content-offer__item:hover {
    transform: none;
  }
  .content-offer__item_big img {
    /* display: flex; */
    min-height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* products section */
  .content-products {
    grid-template-columns: minmax(304px, auto);
    padding-left: 8px;
    padding-right: 8px;
  }
  .content-products__index-paddings {
    padding-top: 81px;
    padding-bottom: 81px;
  }
  .content-products__text {
    margin: 0px 0px 40px 0px;
  }
  /* footer subscribe  */
  .footer-subscribe {
    padding-bottom: 81px;
  }
}/*# sourceMappingURL=style.css.map */